<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <form action="/search" method="POST">
    <label for="start_date">start date </label>  <input type="input" name="start_date" id="start_date" >
    <br>
    <label for="end_date">end date </label> <input type="input" name="end_date" id="end_date" >
    <br>
    <label for="app_name">app name</label> <input type="input" name="app_name" id="app_name" >
    <br>
    <label for="commit">submit </label> <input type="submit" id="commit" >

  </form>
</body>
</html>