{% extends "base.html" %}
  {% block page_content %}
      {% for project in projects.keys() %}
           <div class="panel panel-default">
               <div class="panel-heading"> {{ project }}
               </div>
               <table class="table table-hover table-striped" style="display:none">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>主机名称</th>
                            <th>日志路径</th>
                            <th>开始时间</th>
                            <th>时间时间</th>
                            <th>日志下载</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for host,log_path in projects[project].iteritems() %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <td>{{ host }}</td>
                            <td>{{ log_path }}</td>
                            <td>{{ form.dt(class='datetimepicker', id="start_date") }}</td>
                            <td>{{ form.dt(class='datetimepicker', id="end_date") }}</td>
                            <td>
                                <button id="download" type="button" class="btn btn-primary btn-xs">download</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
              </table>
          </div>
      {% endfor %}
      {{ form.hidden_tag() }}
</form>

  {% endblock %}